body {
    background-color: beige;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100lvh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100lvw;
}
	
table, tr, td {
    border: 1px solid blue;
    border-collapse: collapse;
}

td {
    min-width: 30px;
    height: 30px;
    background-color: #CACACA;
    box-sizing: border-box;
}
