body {
    background-image: url("./paper-textured.jpg");
    background-size: contain;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    display: block;
}

table, tr, td {
    border: 1px solid rgba(0,0,255,0.3);
    border-collapse: collapse;
    padding: 0;
}

#board {
    --cell-size: 31px;
}

td {
    min-width: var(--cell-size);
    height: var(--cell-size);
    box-sizing: border-box;
}

.circle {
    stroke-dasharray: 82;
    stroke-dashoffset: 82;
    animation: draw 200ms linear;
    animation-fill-mode: forwards;
}

.cross1 {
    stroke-dasharray: 38;
    stroke-dashoffset: 38;
    animation: draw 100ms linear;
    animation-fill-mode: forwards;
}

.cross2 {
    stroke-dasharray: 39;
    stroke-dashoffset: 39;
    animation: draw 100ms linear;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}
